<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Stock and Exchange Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <style>
        .card-body p {
            font-size: 20px;
        }
        #currentDateTime {
            font-size: 16px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>Market Data</h1>
            <div id="currentDateTime">업데이트 일시 <span id="dateTime"></span></div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">주식</div>
                    <div class="card-body">
                        <p>KOSPI: {{ kospi_open_price }} <span class="changeRate" data-rate="{{ kospi_change_rate }}">{{ kospi_change_rate }}</span></p>
                        <p>KOSDAQ: {{ kosdaq_open_price }} <span class="changeRate" data-rate="{{ kosdaq_change_rate }}">{{ kosdaq_change_rate }}</span></p>
                        <p>KRX 300: {{ krx300_open_price }} <span class="changeRate" data-rate="{{ krx300_change_rate }}">{{ krx300_change_rate }}</span></p>
                        <p>삼성전자: {{ samsung_electronics_open_price }} <span class="changeRate" data-rate="{{ samsung_electronics_change_rate }}">{{ samsung_electronics_change_rate }}</span></p>
                        <p>SK 하이닉스: {{ sk_hynix_open_price }} <span class="changeRate" data-rate="{{ sk_hynix_change_rate }}">{{ sk_hynix_change_rate }}</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">환율</div>
                    <div class="card-body">
                        <p>미국: {{ usd_basePrice }} <span class="changeStatus" data-status="{{ usd_changeStatus }}">{{ usd_changeStatus }} {{ usd_changePrice }}</span></p>
                        <p>중국: {{ cny_basePrice }} <span class="changeStatus" data-status="{{ cny_changeStatus }}">{{ cny_changeStatus }} {{ cny_changePrice }}</span></p>
                        <p>유럽: {{ eur_basePrice }} <span class="changeStatus" data-status="{{ eur_changeStatus }}">{{ eur_changeStatus }} {{ eur_changePrice }}</span></p>
                        <p>일본: {{ jpy_basePrice }} <span class="changeStatus" data-status="{{ jpy_changeStatus }}">{{ jpy_changeStatus }} {{ jpy_changePrice }}</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">금</div>
                    <div class="card-body">
                        <p>시가: {{ gold_open }}</p>
                        <p>종가: {{ gold_close }}</p>
                        <p>최고: {{ gold_high }}</p>
                        <p>최저: {{ gold_low }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control" id="stockInput" placeholder="Enter stock name">
                    <button class="btn btn-primary" type="button" id="viewChartBtn">그래프 보기</button>
                    <button class="btn btn-secondary" type="button" id="viewPredictionBtn">예측 데이터 보기</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="chartContainer" style="display: none;">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        let myChart = null;

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrfToken = getCookie('csrftoken');

        document.getElementById('viewChartBtn').addEventListener('click', function() {
            const stockName = document.getElementById('stockInput').value;
            fetchChart(stockName, '{% url 'show_chart' %}');
        });

        document.getElementById('viewPredictionBtn').addEventListener('click', function() {
            const stockName = document.getElementById('stockInput').value;
            fetchPrediction(stockName, '{% url 'get_prediction' %}');
        });

        function fetchChart(stockName, url) {
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({ stock_name: stockName })
            })
            .then(response => response.json())
            .then(data => {
                if (data.labels && data.data) {
                    updateChart(data.labels, data.data, 'Stock Price');
                } else {
                    alert('Failed to retrieve data');
                }
            });
        }

        function fetchPrediction(stockName, url) {
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({ stock_name: stockName })
            })
            .then(response => response.json())
            .then(data => {
                if (data.dates && data.predictions) {
                    updatePredictionChart(data.dates, data.predictions);
                } else {
                    alert('Failed to retrieve prediction data');
                }
            });
        }

        function updateChart(labels, data, label = 'Stock Price') {
            const ctx = document.getElementById('myChart').getContext('2d');
            if (myChart) {
                myChart.destroy();
            }
            myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: label,
                        data: data,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        x: {
                            beginAtZero: true
                        },
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            document.getElementById('chartContainer').style.display = 'block';
        }

        function updatePredictionChart(dates, predictions) {
            const ctx = document.getElementById('myChart').getContext('2d');
            if (myChart) {
                myChart.destroy();
            }

            const combinedLabels = myChart.data.labels.concat(dates);
            const combinedData = myChart.data.datasets[0].data.concat(predictions);
            myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: combinedLabels,
                    datasets: [
                        {
                            label: 'Stock Price',
                            data: myChart.data.datasets[0].data,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Prediction Data',
                            data: combinedData,
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        x: {
                            beginAtZero: true
                        },
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            document.getElementById('chartContainer').style.display = 'block';
        }

        function setCurrentDateTime() {
            const now = new Date();
            const formattedDate = now.toLocaleString();
            document.getElementById('dateTime').textContent = formattedDate;
        }

        window.onload = function() {
            setCurrentDateTime();
            setChangeStatusColors();
            setChangeRateColors();
        };

        function setChangeStatusColors() {
            const changeStatusElements = document.querySelectorAll('.changeStatus');
            changeStatusElements.forEach(element => {
                const status = element.getAttribute('data-status');
                if (status === '+') {
                    element.style.color = 'blue';
                } else if (status === '-') {
                    element.style.color = 'red';
                }
            });
        }

        function setChangeRateColors() {
            const changeRateElements = document.querySelectorAll('.changeRate');
            changeRateElements.forEach(element => {
                const rate = element.getAttribute('data-rate');
                if (rate.includes('-')) {
                    element.style.color = 'red';
                    element.textContent = `-${rate}`;
                } else {
                    element.style.color = 'blue';
                    element.textContent = `+${rate}`;
                }
            });
        }
    </script>
</body>
</html>
